<html>
<head>
    <title>City Comparison</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{% load bootstrap3 %}
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% load l10n %}
{% load staticfiles %}
<script type="text/javascript" src='{% static "ccity/dygraph-combined.js" %}'></script>
<style>
    #push,
    #footer {
        height: 60px;
    }
    #footer {
        background-color: #f5f5f5;
    }
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
</head>
<body>
    <div class="container">
        <h2>Compare cities</h2>
        <form action="" method="post" class="form form-horizontal">
                {% csrf_token %}
            <div class="row">
                <div class="col-xs-2">
                    {% bootstrap_label 'City 1' %}
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2">
                    {% bootstrap_label 'City 2' %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {% bootstrap_field form.city1 %}
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2">
                    {% bootstrap_field form.city2 %}
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Compare
                    </button>
                {% endbuttons %}
                </div>
            </div>
        </form>
        <hr>
        <br/>
        <br/>
        {% if city1 and city2 %}
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-2">
                <b>Nome:</b>
            </div>
            <div class="col-xs-2">
                {{city1.name}} 
            </div>
            <div class="col-xs-2">
                {{city2.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-2">
                <b>Stato/Regione</b>
            </div>
            <div class="col-xs-2">
                {{city1.country}}
            </div>
            <div class="col-xs-2">
                {{city2.country}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-2">
                <b>Codice Areoporto</b>
            </div>
            <div class="col-xs-2">
                {{city1.airport}}
            </div>
            <div class="col-xs-2">
                {{city2.airport}}
            </div>
        </div>
        <br/>
        <hr>
        <div id="tempdiv" style="width:800px; height:300px;">
        <script type="text/javascript">
            var temperature="Date,{{city1.name}},{{city2.name}}\n{{temperature}}";
            g = new Dygraph(document.getElementById("tempdiv"), temperature, {
                  legend: 'always',
                  labelsDivStyles: { 'textAlign': 'right' },
                  colors: ["#d7191c", "#2b83ba"],
                  fillGraph: true,
                  title: 'Temperature'
                } 
            );
        </script>
        {% for condition,condata in conditions %}
            <br/>
            <hr>
            <div id="{{condition}}div" style="width:800px; height:150px;">
            <script type="text/javascript">
                var {{condition}}="Date,{{city1.name}},{{city2.name}}\n{{condata}}";
                g = new Dygraph(document.getElementById("{{condition}}div"), {{condition}}, {
                      legend: 'always',
                      labelsDivStyles: { 'textAlign': 'right' },
                      colors: ["#d7191c", "#2b83ba"],
                      fillGraph: true,
                      title: '{{condition}}'
                    } 
                );
            </script>
        {% endfor %}
        {% endif %}
    </div>
    <br/>
    <br/>
    <div id="footer">
        <div class="container">
            <p class="muted credit">
                This product include data from <a href="http://www.wunderground.com">wunderground.com</a> available as api 
                <a href="http://www.wunderground.com/?apiref=c8e8c7d1a550c6db" target="_blank">here</a>
            </p>
        </div>
    </div>
</body>
</html>
